/*llamar a una clase para colocar un font*/
@font-face{
    font-family:ARDESTINE;
    src: url(../fonts/ARDESTINE.ttf);
}
/*clase con la que mandamos a llamar al font*/
.tipografia{
    font-family:ARDESTINE;
}
/*se camvio de color los punteros del slider*/
.slider .indicators .indicator-item {
  background-color: #006064;
}

.slider .indicators .indicator-item.active {
  background-color: #01579b;
}
/*se redimensiono el logo*/
.logo img{
  margin-top: 5%;
  width: 100px;
  height: 15%;
  margin-left: 10%;
}
/*se coloco un tamaño al texto del menu*/
.texto{
  font-size: 1.35em;
}
/*icono de las paginas de registro y login*/
.icono{
  font-size: 100px  !important;
  color: #006064;
}
.icono-boton{
  display: none;
}
/*contenedor de login*/
.contenedor{
  width: 50%;
  height: 450px;
  margin-bottom: 3%;
  margin-top: 3%;
  border-style: inset;
  border-color: #00838f;
  box-shadow: 0px 0px 10px #006064;
}
/*contenedot de registro*/
.contenedor2{
  width: 50%;
  height: 650px;
  margin-bottom: 3%;
  margin-top: 3%;
  border-radius: 1em;
  border-style: inset;
  border-color: #00838f;
  box-shadow: 0px 0px 10px #006064;
}
/*boton que esta en login de ingresar*/
.boton{
  margin-top: 200px;
}
/*se coloca un margen del otro boton en login*/
.boton2{
  margin-top: 30px;
}
/*las dimensiones del mapa*/
#map {
  height: 200px;
}
/*un margen del boton de facebook*/
.fb-like{
bottom: 6px;
}
/*clase para justificar */
p.justificar{
    text-align: justify;
}
/*clases del boton de instagram*/
.ig-b- { 
    display: inline-block; 
    }
.ig-b- img { 
    visibility: hidden; 
    }
.ig-b-:hover { 
    background-position: 0 -60px; 
    } 
.ig-b-:active { 
    background-position: 0 -120px; 
    }
.ig-b-v-24 { 
    width: 137px; height: 24px; background: url(../img/intagram3.png) no-repeat 0 0; 
    }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-v-24 { 
    background-image: url(../img/intagram2.png); background-size: 160px 178px; } 
    }
/*responsive para los contenedores ylos botones de comentario*/
 @media screen and (max-width: 1000px){
  .contenedor{
    width: 80%;
  }
  .contenedor2{
    width: 80%;
  }
  
 }  
@media screen and (max-width: 700px){
    .separar{
      margin-left: -15%;
    }
    .reponsivo{
    display: none;
  }
  .icono-boton{
    display: flex;
    }
  }
 @media screen and (max-width: 300px){
  .contenedor{
    width: 100%;
  }
  .contenedor2{
    width: 100%;
  }
  .separar{
    margin-left: -15%;
    width: 120%;
    font-size: 8px;
  }
  .reponsivo{
    display: none;
  }
  .icono-boton{
    display: flex;
  }
 }  
#logo_texto.hover{
  background-color: #ffffff;
}

#titulo-slider {
  padding-top: 23%;
}