@font-face{
    font-family:ARDESTINE;
    src: url(../fonts/ARDESTINE.ttf);
}

.tipografia{
    font-family:ARDESTINE;
}

.slider .indicators .indicator-item {
  background-color: #006064;
}

.slider .indicators .indicator-item.active {
  background-color: #01579b;
}

.logo img{
  margin-top: 5%;
  width: 100px;
  height: 15%;
  margin-left: 10%;
}

.texto{
  font-size: 1.2em;
}

#logo_texto.hover{
  background-color: #ffffff;
}

#titulo-slider {
  padding-top: 23%;
}